<div class="page-header">
  <h3>Menu #<%= @menu.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Food</dt>
      <dd><%= @menu.food_id %></dd>

      <dt>Dish</dt>
      <dd>
        <% if @menu.dish.present? %>
          <a href="/dishes/<%= @menu.dish_id %>">
            <%= @menu.dish.name %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @menu.venue.present? %>
          <a href="/venues/<%= @menu.venue_id %>">
            <%= @menu.venue.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/menus" class="btn btn-primary">
        Back
      </a>
      <a href="/menus/<%= @menu.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_menu/<%= @menu.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
